POSTGRES_DB=onestopshop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_strong_password
DB_HOST=db
DB_PORT=5432
DB_NAME=onestopshop
DB_USER=postgres
DB_PASSWORD=changeme_strong_password
PAYFAST_RETURN_URL=https://yourdomain.com/payment/success
PAYFAST_CANCEL_URL=https://yourdomain.com/payment/cancel
